@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.welcome {
    margin-bottom: 100px;
}

.profile h1  {
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    color: whitesmoke;
    text-align: center;
}

.profile > form {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    border: 1px solid #3339;
    background-color: #aaa9;
    padding: 16px;
    border-radius: 5px
}

.profile > h1 {
    font-size: 2em;
    text-align: center;
}

.profile hr {
    border-top: 1px solid whitesmoke;
    width: 200px;
}

.profile span {
    color: red;

    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    text-align: center;
}



